@page
@model Cars.Web.Pages.Autos.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.VinNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.VinNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.RegistrationPlate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.RegistrationPlate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Car?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
